div.code {
  text-align: left;
}

.slide {
    background-image: url("http://methodmissing.github.com/euruko2011/slides/wildfire.png");
    background-repeat:no-repeat;
    background-position: 100% 98%;
    overflow: visible;
}

#footer {
  background: black;
  width: 1000px;
  height: 40px;
  top: -40px;
}